/**********CSS************/

/*-------------Variables */
:root {
/************** Colores  */
--pink-color:#D84797;
--blue-color:#3ABEFF;
--white-color: white;
--black-color: #2b2b2b;
/************** Espaciado  */
--space: 10px;
--space2: 20px;
/************** Box Shadow  */
--box: 0px 4px 8px #c1bcbc;

}

/************* Reglas Generales */

html, body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: bold;
}

p {
    font-family: 'Open Sans', sans-serif;
}

label {
  font-size: 14px;
}


nav {
    display: flex;
    background-color: var(--pink-color);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--white-color);
    text-decoration: none;
}

nav li a:hover {
    color: #D2FDFF;
}
hr{
    opacity: .2;
  }

/*********** Main Section *********/

.main_section {
    padding: 15%;
    text-align: center;
}

.main_section h1 {
    font-size: 40px;
    text-align: center;
}
/*********** Products *********/
/*
.products {
    background-image: url("../images/curve.png");
    padding: 30%;
    padding-bottom: 0px;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    height: 95px;
    background-size: cover;
}

.product {
    padding: 20px;
    margin-top: -550px;
}
.img_product {
    text-align: center;
}

.content {
    background-color: var(--white-color);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px #c1bcbc;
}

.main_btn {
    background-color: var(--blue-color);
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #429AC6;
}
*/

.products{
    background-image: url("../images/curve.png");
    padding: 15%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    height: 95px;
    background-size: cover;
  
  }
  
  .product{
    padding: 20px;
    margin-top: -250px;
  }

  .product p{
    font-size: 14px;
    text-align: left;
  }

  .img_product{
    text-align: center;
  }
  
  .content{
    padding: 20px;
    background: var(--white-color);
    border-radius: 20px;
    box-shadow: var(--box);
  }
  
  .main_btn{
    padding: 15px;
    background-color: var(--blue-color);
    width: 100%;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    color: var(--white-color);
    font-size: 16px;
  }
  .main_btn:hover{
    background-color: #429AC6;
  }

/*********** Features *********/

.features {
    padding: 8%;
    display: flex;
}

.feature {
    text-align: center;
    padding: 20px;
}

.feature img {
    max-height: 150px;
}

.text_feature {
    text-align: justify;
}
/********** Mentions **********/

.mentions{
    display: flex;
    padding: 5%;
  }

  .mention img{
    width: 100%;
  }
  h2.mention_title{
    text-align: center;
  }
  .mention{
    padding: var(--space);
  }
  .content_mention{
    box-shadow: var(--box);
  }
  .mention .text{
    padding: var(--space);
}

/*********** Venta ***************/

.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space2);
  border-radius: 20px;
}

.modulo_pago_img {
 margin: auto;
 text-align: center;
}

.data {
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 0.5px solid grey;
  box-sizing: border-box;
}

.modulo_pago .main_btn {
   margin-top: 20px;
}

/*********** Footer *************/
footer {
    display: flex;
    background-color: var(--black-color);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.option {
    color: var(--white-color);
}

.option:hover {
    color: #D2FDFF;
    cursor: pointer;
}

.contact a{
  color: var(--pink-color);
}